*{
	--color1: #148F77;
	--color2: #0E6251;
}

body {
    /*animation: bg 1.5s infinite alternate;*/
    background-image: url(../Images/background.jpg);
}

h1{
    color: white;
}
p{
    color: white;
}

@keyframes bg {
    from {  background-color: var(--color1); }
    to { background-color: var(--color2); }
}

@keyframes hue {
    from {      -webkit-filter: hue-rotate(0deg); }
    to {  -webkit-filter: hue-rotate(-360deg); }
}

.title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 30s infinite linear;
}