body {
    background: linear-gradient(to right bottom, #5B2F0C, #400C01);
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite;
}
p{
    color: white;
}
.valign-wrapper{
    height: 75vh;
}
*{
    --google-font-title: 'Pinyon Script', cursive;
}

.brand-logo {
	font-family: var(--google-font-title);
	font-size: 5.0rem;
}
h1{
    color: white;
    text-shadow: #FFFFFF 1.4px 1.4px 1.4px;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
p a{
    color: #2BBBAD;
}
.icon-white{
    color: white;
}
