* {
	--google-font-title: 'Pinyon Script', cursive;
	--font-color-adobe: #F6E8B1;
	--workplace-color: white;
}

header .brand-logo {
	font-family: var(--google-font-title);
	font-size: 2.35rem;
	padding: 5px 12px;
}

header nav ul li a img {
	height: 52px;
	width: 52px;
}

.ProfilePicDropDownText{
	margin-left: 0.5rem;
}

.displayA {
	display: -webkit-inline-box;
	margin: 0.5rem 2rem 0rem 2rem;
}